<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}<title>I am a generic title!</title>{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <script src="{{ asset('build/app.js') }}"></script>
</html>
